.wrapper-artists-section{
    padding: 5rem 0;
    position: relative;
}

.wrapper-artists-section .artist-title{
    width: 12rem;
    position: absolute;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 5px;
    border-left: 2px solid #81b29a;
    margin-left: 2rem;
}

.wrapper-artists-section .title{
    color: #fff;
}

.artist-grid{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    margin-bottom: 2rem;
    justify-items: center;
    padding: 0 1rem;
    grid-gap: 1rem;
}

.artist-card{
    position: relative;
    width: 18rem;
    height: 25rem;
    box-shadow: 0 0 5px #000;
    background-color: #fff;
    overflow: hidden;
}

.artist-card::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000;
}

/* * Artist card  */
.artist-card .wall{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    opacity: 0.5;
}

.artist-info{
    display: flex;
    justify-content: center;
    position: relative;
}

.artist-info .artist-picture{
    margin-top: 2rem;
}

.artist-info .pill{
    position: absolute;
    background-color: #000;
    bottom: -2rem;
    padding: 0.2rem 1rem;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0 0 15px #000;
}

.artist-info .details{
    position: absolute;
    bottom: -15rem;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 0;
}

.artist-info .details p{
    text-align: center;
    font-size: .9rem;
    color: #fff;
}

/* * mini cards  */
.wrapper-artists{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem,1fr));
    grid-gap: 1rem;
}

.wrapper-artists .mini-card{
    display: grid;
    grid-template-columns: 40% 1fr;
    width: 13rem;
    height: 5rem;
    box-shadow: inset 0 0 5px #000;
    border-radius: 50px;
}

.mini-card .artist-picture{
    width: auto;
    height: auto;
}

.mini-card .name{
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.name span{
    margin-left: 8px;
    color: #fff;
}

.mini-card:hover{
    cursor: pointer;
}