.main-wp__carousels{
    width: 100%;
    overflow-x: auto;
    padding: 30px;
    position: relative;   
}

.main-wp__carousels .carousel-title{
    width: 12rem;
    position: absolute;
    top: 4rem;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 5px;
    border-left: 2px solid #81b29a;
}

.carousel-title .title{
    color: #fff;
}

.carousel__container{
    width: 90vw;
    white-space: nowrap;
    margin: 70px 0;
    padding: 3rem 2rem;
    overflow-x: auto;
}

.carousel-item{
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 15px;
    display: inline-block;
    cursor: pointer;
    transform: scale(1);
    transition: transform .2s,
                opacity .2s;
}
/* Song details  */
.carousel-item .details{
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-2rem);
    width: 100%;
    height: 4rem;
    opacity: 0;
    transition: transform .2s,
                opacity .1s;
}

.carousel-item .song-description{
    transform: translateY(-20rem);
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
}

.song-description .title{
    padding: 6px 0;
    color: #fff;
    font-size: 0.9rem;
}

.details .d-grid{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

/* controlls styles  */
.d-grid .icon-songs{
    width: 2rem;
    margin-top: .8rem;
    opacity: 0.5;
}

.d-grid .icon-play-song{
    width: 3rem;
    top: -2rem;
    opacity: 0.5;
}

/* controlls hover  */
.icon-play-song:hover,
.icon-songs:hover{
    opacity: 1;
    transition: opacity 0.1s;
}

.d-grid .play-wrapper{
    background-color: rgba(0, 0, 0, 0.8);
    top: -1rem;
    border-radius: 50%;
    padding: 0.5rem;
    position: relative;
}

.carousel-item:hover ~ .carousel-item {
    transform: translate3d(10px, 0, 0);
}

.carousel-item .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* * Hover effects  */
.carousel__container:hover .carousel-item{
    opacity: 0.4;
}

.carousel__container:hover .carousel-item:hover{
    transform: scale(1.2);
    opacity: 1;
}

/* * Details hover transitions  */
.carousel-item:hover .details{
    transform: translateY(-4rem);
    opacity: 1;
}