@import './header.css';
@import './searcher.css';
@import './section.css';
@import './carousel.css';
@import './login.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #2c2a4a;
    overflow: hidden;
}

.layout{
    display: grid;
    grid-template-columns: 20px 1fr 20px;
}


