.main-wp__search-field{
    padding: 1rem;
    height: 4rem;
    animation: crazy_back infinite 4s ease-in-out alternate;
}

.main-wp__search-field form{
    display: flex;
    justify-content: center;
}

.search-field__field{
    margin-top: 0.5rem;
    width: 80%;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 0.9rem 2rem;
    background-color: rgba(250,250,250, 0.5);
    color: #fff;
    transition: background-color .2s;
}

.search-field__field:hover{
    background-color: rgba(250,250,250, 0.2);
}

.main-wp__carousels{
    /* box-shadow: 0 -4px 5px #262d33; */
}

@keyframes crazy_back{
    from{
        background-color: #2c2a4a;
    }
    to{
        background-color: #48456a;
    }
}
